#mainLogo {
  transform: scale(5.5);
  height: 30vmin;
  pointer-events: none;
}

.attendeeLogo {
  transform: scale(2.5);
}
/* @media (prefers-reduced-motion: no-preference) {
  #mainLogo {
    animation: mainLogo-animation infinite 10s ease-in-out;
  }
}

@keyframes mainLogo-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(3);
  }
} */
