.App {
  /* text-align: center;
  padding-left: 6em;
  padding-right: 6em;
  background: linear-gradient(
      172.94deg,
      rgba(60, 61, 63, 0.82) 0.18%,
      rgba(56, 62, 72, 0.9) 46.99%,
      #373e4b 67.45%
    ),
    url(../images/naslovna.jpg); */
}

.App-header {
  background-color: #2b313b;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
