.instance_page {
  height: 582px;
  text-align: center;
  padding-left: 6em;
  padding-right: 7em;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.background_cafe {
  background-color: #68E1FD;
}

.info {
  font-family: Poppins;
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
}

.main_text {
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 190%;
  letter-spacing: 0.03em;
  text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.7);
  text-align: right;
}

.main_text_color_cafe {
  color: #373e4b;
}

.secondary_text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  transform: translate(0px, -20px);
  text-align: right;
}

.secondary_text_color_cafe {
  color: #5c5c5c;
}

.browse_botun {
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.72), -9px -9px 16px rgba(112, 112, 112, 0.33);
  border-radius: 84.5px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#cafe_illustration {
  transform: scale(0.8) translate(-3em);
}

#cafe_logo {
    transform: scale(0.9) translate(13px, -4px);
  }
