#main_page_info {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 3fr 1.5fr 1.5fr;
  padding-left: 6em;
  padding-right: 6em;
}
#main_text {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 2.1vw;
  text-align: left;
  line-height: 190%;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.9);

  place-self: end start;
}

#secondary_text {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4vw;
  text-align: left;
  color: #b5b5b5;
  place-self: start start;
  transform: translate(0px, -35px);
}

#go_straight_to_selection {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.72), -9px -9px 16px rgba(112, 112, 112, 0.33);
  border-radius: 84.5px;
  color: #e0e0e0;
  font-size: 2vw;
  background-color: #373e4b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.7s;
}

#go_straight_to_selection:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#down_arrow {
  transform: scale(1.5) translate(1vw);
}

#cube {
  transform: scale(0.7);
  grid-column: 3 / span 1;
  grid-row: 1 / span 3;
  place-self: end center;
  filter: drop-shadow(25px 25px 34px rgba(0, 0, 0, 0.75));
  -webkit-animation: MoveUpDown 1s infinite alternate;
  animation: MoveUpDown 7s ease-in-out infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0) scale(0.7);
  }
  50% {
    transform: translateY(50px) scale(0.7);
  }
}

@media screen and (max-width: 1000px) {
  #main_page_info {
    grid-template-columns: minmax(0, 4fr) minmax(0, 3fr);
    grid-template-rows: 3fr 1fr 1fr;
  }

  #main_text {
    font-size: 3vw;
    align-self: center;
  }

  #secondary_text {
    font-size: 2vw;
  }

  #go_straight_to_selection {
    font-size: 2.7vw;
  }

  #cube {
    transform: scale(0.23) translateX(12vw);
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    justify-self: end;
    filter: drop-shadow(25px 25px 34px rgba(0, 0, 0, 0.75));
    -webkit-animation: MoveUpDown 1s infinite alternate;
    animation: MoveUpDown 7s ease-in-out infinite;
  }

  @keyframes MoveUpDown {
    0%,
    100% {
      transform: translateY(-20px) translateX(12vw) scale(0.43);
    }
    50% {
      transform: translateY(50px) translateX(12vw) scale(0.43);
    }
  }
}

@media screen and (max-width: 700px) {
  #main_page_info {
    display: flex;
    flex-direction: column;
  }

  #main_text {
    font-size: 4vw;
  }

  #secondary_text {
    font-size: 3vw;
  }

  #go_straight_to_selection {
    height: 15vw;
    font-size: 3.7vw;
  }

  #cube {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  #main_page_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  #main_text {
    font-size: 5vw;
  }
  #secondary_text {
    font-size: 4.5vw;
    transform: translateY(-2vw);
  }
  #go_straight_to_selection {
    padding: 10px 0 10px 0;
    font-size: 7.5vw;
    transform: translateY(17vw);
  }
  #down_arrow {
    transform: scale(1.5) translate(-5vw);
  }
  #cube {
    display: none;
  }
}
