#transition_blue {
  position: relative;
  width: 100%;
  background: #373e4b;
}

.child1 {
  height: 50px;
  border-bottom: 4px solid transparent;
}

.child2 {
  height: 50px;
  border-bottom: 4px solid transparent;
}

.second_orange {
  background: #fc9c43;
}

.way_downRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0, 0% 100%, 100% 100%); /*upRight */
  z-index: 1;
}

#transition_orange {
  position: relative;
  width: 100%;
  background: #fc9c43;
}

.second_babyBlue {
  background: #68e1fd;
}

.way_upRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  top: 0;
  left: 0;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%); /*upRight */
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .child1 {
    height: 50px;
    border-bottom: 6px solid transparent;
  }

  .child2 {
    height: 50px;
    border-bottom: 6px solid transparent;
  }
}

@media screen and (max-width: 360px) {
  #transition_blue {
  }

  #transition_orange {
  }

  .child1 {
    height: 12vw;
    border-bottom: 1px solid #fc9c43;
  }

  .child2 {
    height: 50px;
    border-bottom: -1px solid #68e1fd;
  }
}
