#main {
  height: 720px;
  text-align: center;

  background: linear-gradient(172.94deg, rgba(60, 61, 63, 0.82) 0.18%, rgba(56, 62, 72, 0.9) 46.99%, #373e4b 80.45%),
    url(../../images/naslovna.jpg);
}

@media screen and (max-width: 415px) {
  #main {

    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  #main {
    height: 39em;
  }
}
